.body{
length:100%;
width:100%;
background-color:#e0e0e0 ;
}
.header{
background-color:rosybrown;
}
.fotter{
background-color:rosybrown;
}
.image1{
background-color:rgb(132,136,139);
}
.image2{
background-color:rgb(132,136,139);
length:100%;
breadth:100%;
}
.image3{
background-color:rgb(132,136,139);
}
.image4{
background-color:rgb(132,136,139);
}